<HTML>

	<HEAD>

		<TITLE>Montgomery Steele's Comment Quality Analyzer</TITLE>

	</HEAD>

	<BODY BGCOLOR="FFFFFF">

		<CENTER><IMG SRC="clouds.jpg" ALIGN="BOTTOM"> </CENTER>

		<HR>

		<a href="https://github.com/MontySteele/Springboard">The github repo for this project is available here!</a>

		
		<H1>Montgomery Steele's Comment Quality Analyzer </H1>

		<p>
		Test your comment by typing a link in the following format: http://34.82.215.37:8000/comment/?comment="YOUR COMMENT HERE"
		</p>
<p>
		Alternatively, enter your comment in the box below!
</p>

		<HR>
		<form action="http://34.82.215.37:8000/comment/page/" target="_blank" method="get" action=comment>
			<div>
			Comment: <input type="text" name="comment"><br>
			 			</div>
			
				<div>
				    <button>Enter your comment!</button>
				      </div>

		</form>


	</BODY>

</HTML>
